notifications:
  email:
    on_success: never
    on_failure: change

install:
  - npm install

script:
  - 'node node_modules/.bin/yaml2json --pretty 1c.YAML-tmLanguage > 1c.json' 
  - 'node node_modules/.bin/json2cson 1c.json 1c.cson --2spaces'
  - 'mv 1c.cson grammars/1c.cson'
  - 'curl -s https://raw.githubusercontent.com/atom/ci/master/build-package.sh | sh'

git:
  depth: 10

sudo: false

os:
  - linux
  - osx

env:
  global:
    - APM_TEST_PACKAGES="linter"

  matrix:
    - ATOM_CHANNEL=stable
    - ATOM_CHANNEL=beta

addons:
  apt:
    packages:
    - build-essential
    - git
    - libgnome-keyring-dev
    - fakeroot

branches:
  only:
    - master
    - develop
